.p-gnavi {
  .list{
    transition: all 300ms 0s ease;
    width: 100vw;
    height: 100vh;
    //中身の空白
    padding: 70px auto;
    //背景色
    //透過が必要な時
    background-color: rgba(217,199,151,.95);
    display: flex;
    transition: all 300ms 0s ease;
    //flex-item(横配置)
    justify-content: center;
    //item中央(上下)
    align-items: center;
    position: absolute;
    //header分ずらしている
    //top: 60px;
    top: 50px;
    left: 100%;
    //↓現在表示しているブラウザの１から100すぐ下はキレてる
    //重ねられた場合の表示順（降順）
    z-index: 100;
    @include oswald;
    //flex-itemありき(listの表示順)
    flex-direction: column;
    overflow-y: auto;
    @include mq(pc){
      width:inherit;
      height: inherit;
      padding: inherit;
      position: static;
      background: inherit;
      flex-direction: inherit;
      transition: inherit;
      align-items: center;
      line-height:2.0;
    }
    > li {
      width: 100px;
      margin: 0 auto 50px;
      font-size: 1.8rem;
      @include mq(pc){
        width: auto;
        margin: inherit;
        margin-bottom: 0;
        font-size: 1.2rem;
        text-align: left;
      }
      a {
        &:link,&:visited {
          color: #1d1d1d;
        }
        &:hover,&:active {
          color: #555;
        }
        text-decoration: none;
        @include mq(pc){
          margin-right: 20px;
          font-weight: normal;
         //white-space--
          white-space: nowrap;
        }
        &:last-child {
          margin-bottom: 0;
          a {
            @include mq(pc) {
              margin-right: 40px;
            }
          }
        }
      }
    }
  }
  &.is-open {
    > .list {
      display: flex;
      position: fixed;
      left: 0;
      @include mq( pc ){
        //初期化
        position: static;
      }
    }
  }
}